<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Some Website</title>
    
  </head>
    <body>
      {{> header}}
        <p>{{screamIt 'The site is down.  panic!!!'}}</p>
        
        
        {{> footer}}
    
    </body>
</html>